<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>
  This is a free and open source app. You can use it in any way you like. The datas are from <a href = "http://databank.worldbank.org">World Bank Database.
</p>
