<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  If you have any query realted to this application, please forward them to
  <a href="http://www.twitter.com/sushilthe">Sushil Dahal</a> or
  <a href="http://www.twitter.com/sanjanpiya">Sanjan Piya</a>
</p>