<% provide(:title, 'Data Analysis') %>

<h1>Data Analysis of SAARC Countries</h1>
  <div id='chart'></div>
<%= render_chart @chart, 'chart' %>
<p>The data used here can be found in <a href = "http://databank.worldbank.org">World Bank Database</a> or can be used from <a href = "https://github.com/sushilthe/testapp"> application source</a>