<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h1>Welcome to the Test App</h1>

  <h2>
  This is the
  <a href="http://googlevisualr.herokuapp.com/">Ruby on Rails Google Visualization API</a>
  sample application.
  </h2>

  <%= link_to "Go to Data Analysis", '#', class: "btn btn-large btn-primary" %>
</div>
