<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h1>Welcome to Track data App</h1>

  <h2>
  	This app helps in tracking and analysis of various kinds of data.
  </h2>

  <%= link_to "Go to Data Analysis", data_path, class: "btn btn-large btn-primary" %>
</div>
